.Special,.NonSpecial {
    margin: 0.1rem;
    padding: 1.0rem;
    border-radius: 15px;
    font-size: 1.0rem;
    text-align: center;
}

.Special {
    color: rgb(255, 255, 255);
    background-color: rgb(58, 58, 58);
}

.NonSpecial {
    color: rgb(255, 255, 255);
    background-color: blue;

}
   



